
@{
    ViewData["Title"] = "AddInventory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <div class="card-header card-header-primary">
        @*<a href="#" class="btn btn-primary float-right">Add Products</a>*@
        <h4 class="card-title "> Add New Inventory Item</h4>

        <p class="card-category"> Omaru Farm Products</p>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="col-md-12">
                        <label class="form-control">Input Product</label>
                    </div>
                    <div class="col-md-12">
                        <label class="bmd-label-floating">Product Name</label>
                        <input type="text" class="form-control" name="pName" value="" />
                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product Description</label>
                        <textarea class="form-control" name="pDescription"></textarea>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product Image</label>
                        <input type="file" name="fileToUpload" class="form-control form-file-upload" id="fileToUpload">

                    </div>

                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product Cost</label>
                        <input type="text" class="form-control" name="pCost" value="" />

                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product Selling Price</label>
                        <input type="text" class="form-control" name="pSellingPrice" value="" />

                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product Vat</label>
                        <input type="text" class="form-control" name="pVat" value="" />

                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product Tax</label>
                        <input type="text" class="form-control" name="pTax" value="" />

                    </div>
                    <div class="col-md-12 mt-3">
                        <label class="bmd-label-floating">Product GST</label>
                        <input type="text" class="form-control" name="pGST" value="" />

                    </div>
                    <div class="col-md-4 mt-3">
                        <button class="btn btn-primary" type="submit">SUBMIT</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
